@import url(headerAndFooter.css);

.informacoes{
    background-image: url(imagens\ css/fundo-contato.png);
    background-repeat: no-repeat;
    background-size: cover; /*125rem*/
    display: flex;
    padding: 3.75rem; /*2.5rem 2.5rem*/
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";     
}

    .titulo-entre-contato{
        padding: 0rem 0rem 1.25rem 0rem; /*1.25rem*/
        font-size: xx-large; /*30px*/
        -webkit-text-fill-color: #082d3f;
    }
    .entre-em-contato{
        background-color: #ffffff;
        width: 400px; /*25rem*/
        height: 400px; /*25rem*/
        display: flex;
        align-items: center;
        padding: 6.25rem 18.75rem; /*100px  300px*/
        border-radius: 10px 0px 0px 10px; /*10px 0px 0px 10px*/
    }
        .campos-form{
            padding: 20px; /*1.25rem*/
            width: 50rem; /*50rem*/
            border: solid;
            border-radius: 10px; /*.625rem*/
            border-width: 2px; /*.125rem*/
            margin: 10px  -215px; /*.625rem 13.4375rem*/
            font-size: medium;  
        }
        .textarea-mensagem{
            resize: none;
            padding: 20px; /*1.25rem*/
            width: 800px; /*50rem*/
            height: 100px; /*6.25rem*/
            margin: 10px  -215px; /*.625rem 13.4375rem*/
            border: solid;
            border-radius: 10px; /*.625rem*/
            border-width: 2px;  /*.125rem*/
            font-size: medium;
            font-family: inherit; 
        }
        .btn-enviar-form{
            background-image: linear-gradient(#0eabf3, #082d3f);
            width: 127px; /*7.9375rem*/
            padding: 15px; /*.9375rem*/
            margin: 20px; /*1.25rem*/
            border: none;
            border-radius: 10px ; /*.625rem*/
            box-shadow: 0px  0px  0px 0px #000000, inset 2px 2px 2px 2px #0740a8;  /*.125rem .125rem .125rem .125rem*/
            transition: box-shadow 0.3s ease, transform 0.3s ease;
            cursor: pointer;
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            text-align: center;
            -webkit-text-fill-color: #fcfcfc;
        }
        .btn-enviar-form:hover{
            background-image: linear-gradient(#ffffff, #646dee);
            -webkit-text-fill-color: #082d3f;
            box-shadow: 2px 2px 2px 2px #082d3f;     /*.125rem .125rem .125rem .125rem*/   
        }
        .btn-enviar-form:active{
            box-shadow: 0px 0px 0px 0px #000000, inset 2px 2px 2px 2px #082d3f; /*.125rem .125rem .125rem .125rem*/
            transform: translate(3px 3px);   /*.1875rem .1875rem*/
        }   
            
    .contato{
        display: flex;
        flex-direction: column;
        background-color: #7e7e7e;
        text-align: center;
        -webkit-text-fill-color: #ffffff;
        font-size: larger; /*1.0625rem*/
        padding: 1.25rem 20px; /*1.25rem*/
        height: 560px; /*35rem*/
        border-radius: 0px 10px 10px 0px; /*0rem .625rem .625rem 0rem*/
    }    
        .info-contatos{
            display: flex;
            justify-content: center;
            padding: 15px ; /*.9375rem*/
        }
        .api-google{
            width: 100%; /*400px*/
            height: 18.75rem; /*250px*/
            border-radius: .625rem; /*10px*/
            border: none;
        }

/* Mobile */
@media screen and (max-width: 30rem){

    .informacoes{
        flex-direction: column;
        align-items: center;  
    } 
        .entre-em-contato{
            width: 90%;
            border-radius: .625rem; /*.625rem 0rem 0rem .625rem*/
            padding: 7.5rem 3.125rem; /*1.25rem*/ 
            margin: 0rem 0rem 3.125rem 0rem ; 
            justify-content: center;
        }
            .titulo-entre-contato{
                font-size: x-large;         
            }
            .campos-form{
                width: 100%; /*800px*/
                margin: 0px 0px 20px -20px;
                border-radius: 10px; /*.625rem*/
                font-size: large;  
            }
            .textarea-mensagem{
                width: 100%; /*800px*/
                margin: 0px 0px 20px -20px;
                border-radius: .625rem; /*.625rem*/
                font-size: large;
            }
            .btn-enviar-form{
                width: 35%;
                font-size: x-small;
                margin: 6px; 
            }

        .contato{
            font-size: medium; 
            width: 90%; /*31.25rem*/
            border-radius:.625rem; /*0px 10px 10px 0px*/
            padding: 3.125rem;
        }  
            .api-google{
                width: 100%; /*400px*/
                border-radius: .625rem; /*.625rem*/
            }
}

/*Extra Small Devices */
@media screen and (min-width:30.0625rem) and (max-width:47.9375rem){

    .informacoes{
        flex-direction: column;
        align-items: center;  
    }  

        .entre-em-contato{
            width: 90%;
            border-radius: .625rem; /*.625rem 0rem 0rem .625rem*/
            padding: 6.5625rem 3.125rem; /*1.25rem*/ 
            margin: 0rem 0rem 3.125rem 0rem ; 
            justify-content: center;
        }
            .titulo-entre-contato{
                font-size: x-large;         
            }
            .campos-form{
                width: 100%; /*800px*/
                margin: 0rem 0rem 1.25rem -1.25rem;
                border-radius: 10px; /*.625rem*/
                font-size: large;  
            }
            .textarea-mensagem{
                width: 100%; /*800px*/
                margin: 0px 0px 20px -20px;
                border-radius: .625rem; /*.625rem*/
                font-size: large;
            }
            .btn-enviar-form{
                width: 35%;
                font-size: x-small;
                margin: 6px; 
            }

        .contato{
            font-size: medium; 
            width: 90%; /*31.25rem*/
            border-radius:10px; /*0rem .625rem .625rem 0rem*/
            padding: 50px;
        }  
            .api-google{
                width: 100%; /*400px*/
                border-radius: .625rem; /*.625rem*/
            }
}

/*Small Tablets */
@media screen and (min-width:48rem) and (max-width:991px){

    .informacoes{
        flex-direction: column;
        align-items: center;  
    }  

        .entre-em-contato{
            width: 90%;
            border-radius: .625rem; /*.625rem 0rem 0rem .625rem*/
            padding: 6.5625rem 3.125rem; /*1.25rem*/ 
            margin: 0rem 0rem 3.125rem 0rem ; 
            justify-content: center;
        }
            .titulo-entre-contato{
                font-size: x-large;         
            }
            .campos-form{
                width: 100%; /*800px*/
                margin: 0rem 0rem 1.25rem -1.25rem;
                border-radius: 10px; /*.625rem*/
                font-size: large;  
            }
            .textarea-mensagem{
                width: 100%; /*800px*/
                margin: 0px 0px 20px -20px;
                border-radius: .625rem; /*.625rem*/
                font-size: large;
            }
            .btn-enviar-form{
                width: 35%;
                font-size: x-small;
                margin: 6px; 
            }

        .contato{
            font-size: medium; 
            width: 90%; /*31.25rem*/
            border-radius:10px; /*0rem .625rem .625rem 0rem*/
            padding: 50px;
        }  
            .api-google{
                width: 100%; /*400px*/
                border-radius: .625rem; /*.625rem*/
            }
}

/* Large Tablets / Laptops*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
    
    .informacoes{
        width: 90%;
        background-size: cover ;
        padding: 5%;
        margin: 0;
     
    }  
    .entre-em-contato{
        width: 90%;
        border-radius: 10px 0px 0px 10px; /*.625rem 0rem 0rem .625rem*/
        padding: 105px 50px; /*20px*/ 
        margin: 0rem 0rem 3.125rem 0rem ; 
        justify-content: center;
    }
        .titulo-entre-contato{
            font-size: x-large;         
        }
        .campos-form{
            width: 100%; /*800px*/
            margin: 0rem 0rem 1.25rem -1.25rem;
            border-radius: 10px; /*.625rem*/
            font-size: large;  
        }
        .textarea-mensagem{
            width: 100%; /*800px*/
            margin: 0px 0px 20px -20px;
            border-radius: .625rem; /*.625rem*/
            font-size: large;
        }
        .btn-enviar-form{
            width: 35%;
            font-size: x-small;
            margin: 6px; 
        }
    .contato{
        font-size: medium; 
        width: 80%; /*31.25rem*/
        height: 510px;
        border-radius: 0px 10px 10px 0px; /*0rem .625rem .625rem 0rem*/
        padding: 50px;
    }  
        .api-google{
            width: 100%; /*400px*/
            border-radius: .625rem; /*.625rem*/
        }
}
/* DeskTop */
@media screen and (min-width: 1200px) and (max-width: 1919px) {
    
    .informacoes{
        width: 90%;
        background-size: cover ;
        padding: 5%;
        margin: 0;
    }  
        .entre-em-contato{
            width: 90%;
            border-radius: 10px 0px 0px 10px; /*.625rem 0rem 0rem .625rem*/
            padding: 105px 50px; /*20px*/ 
            margin: 0rem 0rem 3.125rem 0rem ; 
            justify-content: center;
        }
            .titulo-entre-contato{
                font-size: x-large;         
            }
            .campos-form{
                width: 100%; /*800px*/
                margin: 0rem 0rem 1.25rem -1.25rem;
                border-radius: 10px; /*.625rem*/
                font-size: large;  
            }
            .textarea-mensagem{
                width: 100%; /*800px*/
                margin: 0px 0px 20px -20px;
                border-radius: .625rem; /*.625rem*/
                font-size: large;
            }
            .btn-enviar-form{
                width: 35%;
                font-size: x-small;
                margin: 6px; 
            }
        .contato{
            font-size: medium; 
            width: 80%; /*31.25rem*/
            height: 510px;
            border-radius: 0px 10px 10px 0px; /*0rem .625rem .625rem 0rem*/
            padding: 50px;
        }  
            .api-google{
                width: 100%; /*400px*/
                border-radius: .625rem; /*.625rem*/
            }
}

