@import url(headerAndFooter.css);

.informacoes{
    background-image: url(imagens\ css/fundo-contato.png);
    background-repeat: no-repeat;
    background-size: 125rem; /*2000px*/
    display: inline-flex;
    flex-direction: row;
    padding: 2.5rem 2.5rem; /*40px 40px*/
    margin-top: -2.1875rem;  /*35px*/
    margin-bottom: 2.8125rem; /*45px*/
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";     }

    .titulo-entre-contato{
        padding: 1.25rem; /*20px*/
        margin-top: -5rem; /*80px*/
        width: 25rem; /*400px*/
        font-size: 1.875rem; /*30px*/
        -webkit-text-fill-color: #082d3f;
    }
    .entre-em-contato{
        background-color: #ffffff;
        width: 25rem; /*400px*/
        height: 25rem; /*400px*/
        margin-left: 8.75rem; /*140px*/
        padding: 6.25rem 18.75rem; /*100px  300px*/
        border-radius: .625rem 0rem 0rem .625rem; /*10px 0px 0px 10px*/
        text-align: center;
    }
        .campos-form{
            padding: 1.25rem; /*20px*/
            width: 50rem; /*800px*/
            border: solid;
            border-radius: .625rem; /*10px*/
            border-width: .125rem; /*2px*/
            margin: .625rem  -13.4375rem; /*10px 215px*/
            font-size: medium;  
        }
        .textarea-mensagem{
            resize: none;
            padding: 1.25rem; /*20px*/
            width: 50rem; /*800px*/
            height: 6.25rem; /*100px*/
            margin: .625rem  -13.4375rem; /*10px 215px*/
            border: solid;
            border-radius: .625rem; /*10px*/
            border-width: .125rem;  /*2px*/
            font-size: medium;
            font-family: inherit;
            
        }
        .btn-enviar-form{
            background-image: linear-gradient(#0eabf3, #082d3f);
            width: 7.9375rem; /*127px*/
            padding: .9375rem; /*15px*/
            margin: 1.25rem; /*20px*/
            border: none;
            border-radius: .625rem ; /*10px*/
            box-shadow: 0rem  0rem  0rem 0rem #000000, inset .125rem .125rem .125rem .125rem #0740a8;  /*2px 2px 2px 2px*/
            transition: box-shadow 0.3s ease, transform 0.3s ease;
            cursor: pointer;
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
            font-size: .9375rem; /*15px*/
            font-weight: bold;
            text-align: center;
            -webkit-text-fill-color: #fcfcfc;
            text-shadow: .125rem .125rem .125rem .125rem #00000080;   /*2px 2px 2px 2px*/
        }
        .btn-enviar-form:hover{
            background-image: linear-gradient(#ffffff, #646dee);
            -webkit-text-fill-color: #082d3f;
            box-shadow: .125rem .125rem .125rem .125rem #082d3f;     /*2px 2px 2px 2px*/   
        }
        .btn-enviar-form:active{
            box-shadow: 0rem 0rem 0rem 0rem #000000, inset .125rem .125rem .125rem .125rem #082d3f; /*2px 2px 2px 2px*/
            transform: translate(.1875rem .1875rem);   /*3px 3px*/
        }   
            
    .contato{
        background-color: #7e7e7e;
        text-align: center;
        -webkit-text-fill-color: #ffffff;
        font-size: 1.0625rem; /*17px*/
        padding: 1.25rem; /*20px*/
        width: 31.25rem; /*500px*/
        height: 35rem; /*560px*/
        margin-right: 8.5625rem; /*137px*/
        border-radius: 0rem .625rem .625rem 0rem; /*0px 10px 10px 0px*/
    }    
        .info-contatos{
            display: inline-flex;
            flex-direction: row;
            padding: .9375rem ; /*15px*/
        }
        .api-google{
            width: 25rem; /*400px*/
            height: 15.625rem; /*250px*/
            border-radius: .625rem; /*10px*/
            border: none;
        }