

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: content-box;
}
  

    header{
        background-color: #082d3f;
        display:flex;
        align-items: center;  
        justify-content: space-between;
        height: 7.5rem;
        padding: 0 5%;
    }
        .logo{
            width: 180px; /*11.25rem */
        }
        .btn-Menu{
            display: none;
            border-radius: .3125rem;
            background-image: url(imagens\ css/icon-btn-hamburguer.svg);
            background-repeat: no-repeat;
            background-size: 1.875rem; 
            background-position: .3125rem;
            border: none; 
        }            
            .menu {
                display:flex;
                align-items: center;
                gap: 3.125rem;
            }
                .link-btn-menu{
                    background-image: linear-gradient(#0e8ad1, #646dee);
                    padding: .9375rem; /* 15px */
                    border: none;
                    border-radius: 1.25rem .3125rem; /* 20px 5px */
                    text-decoration: none;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: small;
                    font-weight: bold;
                    text-align: center;
                    -webkit-text-fill-color: #ffffff;
                    box-shadow: 0rem 0rem 0rem 0rem #000000, inset .125rem .125rem .125rem .125rem #ffffff; /*2px 2px 2px 2px*/
                    transition: box-shadow 0.3s ease, transform 0.3s ease;
                } 
                .link-btn-menu:hover{
                    background-image: linear-gradient(#f1f1f1, #afafaf);
                    box-shadow: .125rem .125rem .125rem .125rem #646dee; /*2px 2px 2px 2px*/
                    -webkit-text-fill-color: #646dee; 
                }   
                .link-btn-menu:active{
                    box-shadow: 0rem 0rem 0rem 0rem #000000, inset .125rem .125rem .125rem .125rem #646dee; /*2px 2px 2px 2px*/
                    transform: translate(.1875rem .1875rem);   /*3px 3px*/
                }
                .btn-Agendar-Consulta{
                    display:inline-block;
                    align-items: center;
                    background-image: linear-gradient(#ffffff, #646dee); 
                    width: 12.5rem; /*200px*/
                    padding: .9375rem; /*15px*/
                    border: none;
                    border-radius: 1.25rem .3125rem; /*20px 5px*/
                    box-shadow: 0rem 0rem 0rem 0rem #000000, inset .125rem .125rem .125rem .125rem #646dee; /*2px 2px 2px 2px*/
                    transition: box-shadow 0.3s ease, transform 0.3s ease;
                    text-decoration: none;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: small;
                    font-weight: bold;
                    text-align: center;
                    -webkit-text-fill-color: #082d3f;
                }
                .btn-Agendar-Consulta:hover{
                    background-image: linear-gradient(#0e8ad1, #646dee);
                    box-shadow: .125rem .125rem .125rem .125rem #ffffff; /*2px 2px 2px 2px*/
                    -webkit-text-fill-color: #ffffff;
                }
                .btn-Agendar-Consulta:active{
                    box-shadow: 0rem 0rem 0rem 0rem black, inset .125rem .125rem .125rem .125rem #ffffff; /*2px 2px 2px 2px*/
                    transform: translate(.1875rem .1875rem);   /*3px 3px*/
                }

            .btn-Agendar-Consulta-Online{
                background-image: linear-gradient(#ffffff, #646dee);
                display: flex ;
                align-items: center;
                text-align: center;
                padding: 1.25rem; /*20px*/
                margin: 1.25rem; /*20px*/
                border: none;
                border-radius: 1.25rem .3125rem; /*20px 5px*/
                box-shadow: 0rem 0rem 0rem 0rem #000000, inset .125rem .125rem .125rem .125rem #646dee; /*2px 2px 2px 2px*/
                transition: box-shadow 0.3s ease, transform 0.3s ease;
                text-decoration: none;
                font-family: Arial, Helvetica, sans-serif;
                font-size: large; /*20px*/
                font-weight: bold;
                -webkit-text-fill-color: #082d3f;
            }
            .btn-Agendar-Consulta-Online:hover{
                background-image: linear-gradient(#0e8ad1, #646dee);
                -webkit-text-fill-color: #ffffff;
                box-shadow: .125rem .125rem .125rem .125rem #ffffff; /*2px 2px 2px 2px*/
            }
            .btn-Agendar-Consulta-Online:active{
                box-shadow: 0rem 0rem 0rem 0rem black, inset .125rem .125rem .125rem .125rem #ffffff;   /*2px 2px 2px 2px*/
                transform: translate(.1875rem .1875rem);   /*3px  3px*/
            }
                         
    footer{
        display: flex;
        background-color: #082d3f;
        width: 100%; 
        align-items: center;
        height: 7.5rem;
    }
        .rodape{
            display: flex;
            text-align: center;
            gap: 6.25rem;
            padding: 0% 30%; 
            font-size: larger; 
            -webkit-text-fill-color: #ffffff;
        }
            .link-github-Desenvolvedor{
                -webkit-text-fill-color: #ffffff;
                text-decoration: none;
            }
 
    /*Mobile*/
@media screen and (max-width: 480px) {
       
    header{
        height: 7.5rem;
        padding: 0 5%;
    }
        .btn-Menu{
            display: flex;
            width: 2.5rem;
            height: 2.1875rem; 
        }
        .btn-Menu:active{
            background-image: url(imagens\ css\icon-btn-hamburguer-active.svg);
        }
            .menu{
                display: none;
                position: absolute;
                flex-direction: column;
            }
            .nav.active .menu{
                display: flex; 
                background-color: #082d3f;
                width: 100%;
                top: 7.4375rem;
                right: 0%;
            }
                .btn-link-nav{
                    font-size: medium;
                }
                .btn-Agendar-Consulta{
                    font-size: medium;
                    margin: 0rem 0rem .625rem  0rem;
                }

        .btn-Agendar-Consulta-Online{
            width: 12.5rem;
            font-size: large;  
        }

    footer{
        width: 100%;
    }
        .rodape{
            font-size:.875rem;
            gap: 1.875rem;
        }
}

    /*Extra Small Devices*/
@media screen and (min-width: 481px) and (max-width: 767px) {
        
    header{
        height: 7.5rem;
        padding: 0 5%;
    }
        .btn-Menu{
            display: flex;
            width: 2.5rem;
            height: 2.1875rem; 
        }
        .btn-Menu:active{
            background-image: url(imagens\ css\icon-btn-hamburguer-active.svg);
        }
            .menu{
                display: none;
                position: absolute;
                flex-direction: column;
            }
            .nav.active .menu{
                display: flex; 
                background-color: #082d3f;
                width: 100%;
                top: 7.4375rem;
                right: 0%;   
            }
                .btn-link-nav{
                    font-size: medium; 
                }
                .btn-Agendar-Consulta{
                    font-size: medium;
                    margin: 0rem 0rem .625rem  0rem;
                }
                        
        .btn-Agendar-Consulta-Online{
            font-size: large;
        }

    footer{
        width: 100%;  
        height: 7.5rem;
    }
        .rodape{
            font-size: large;
            padding: 0% 25%;
            gap: 1.875rem;
        }
    }

    /*Small Tablets*/
@media screen and (min-width:768px) and (max-width:991px) {
        
    header{
        height: 7.5rem;
        padding: 0 5%;
    }
        .btn-Menu{
            display: flex;
            width: 2.5rem;
            height: 2.1875rem; 
        }
        .btn-Menu:active{
            background-image: url(imagens\ css\icon-btn-hamburguer-active.svg);
        }
            .menu{
                display: none;
                position: absolute;
                flex-direction: column;
            }
            .nav.active .menu{
                display: flex; 
                background-color: #082d3f;
                width: 100%;
                top: 7.4375rem;
                right: 0%;
            }
                .btn-link-nav{
                    font-size: medium;
                }
                .btn-Agendar-Consulta{
                    margin: 0rem 0rem .625rem  0rem;
                    font-size: medium;
                }

        .btn-Agendar-Consulta-Online{
            font-size: large;
        }

    footer{
        width: 100%;
        height: 7.5rem;
    }
        .rodape{
            font-size: large;
            padding: 0% 25%;
            gap: 1.875rem;
        }
}

/*Large Tablets/Laptops*/
@media screen and (min-width:992px) and (max-width: 1199px ) {
    
    header{
        height: 7.5rem;
        padding: 0 5%;
    }
        .btn-Menu{
            display: none;
        }            
            .menu {
                gap: 1.25rem;
            }
                .link-btn-menu{
                    padding: .9375rem; 
                    font-size: x-small;
                } 
                .btn-Agendar-Consulta{ 
                    margin: 0rem;
                    width: 7.5rem;
                    font-size: x-small;
                }    

    footer{
        width: 100%;
        height: 7.5rem;
    }
        .rodape{
            padding: 0% 25%;
            gap: 1.875rem;
            font-size: larger; 
        } 
}

/*Desktops*/
@media screen and (min-width:1200px) and (max-width: 1919px ) {
    
    header{
        height: 7.5rem;
        padding: 0 5%;
    }
        .btn-Menu{
            display: none;
        }            
            .menu {
                gap: 1.25rem;
            }
                .link-btn-menu{
                    padding: .9375rem; 
                    font-size: x-small;
                } 
                .btn-Agendar-Consulta{ 
                    margin: 0rem;
                    width: 7.5rem;
                    font-size: x-small;
                }    

    footer{
        width: 100%;
        height: 7.5rem;
    }
        .rodape{
            padding: 0% 25%;
            gap: 1.875rem;
            font-size: larger; 
        } 
}