

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: content-box;
}
    body {
        display: flexbox;
        align-items: center;
        }

        header{
            background-color: #082d3f;
            display:inline-flex;
            flex-direction: row;
            align-items: center;
            width: 1897px;
        }
            .logo{
                width: 180px;
                margin: -30px 20px; 
            }

            header nav{
                margin-left: 450px;
                align-items: center;
                
            }
                header nav ul li {
                    display: inline-flex;
            
                }
                    .btn-link-nav{
                        background-image: linear-gradient(#0e8ad1, #646dee);
                        width: 170px;
                        padding: 15px;
                        margin: 10px;
                        border: none;
                        border-radius: 20px 5px;
                        text-decoration: none;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 12px;
                        font-weight: bold;
                        text-align: center;
                        text-shadow: 2px 2px 2px 2px #00000080;
                        -webkit-text-fill-color: #ffffff;
                        box-shadow: 0 0 0 0 #000000, inset 2px 2px 2px 2px #ffffff;
                        transition: box-shadow 0.3s ease, transform 0.3s ease;
                    } 
                    .btn-link-nav:hover{
                        background-image: linear-gradient(#f1f1f1, #afafaf);
                        box-shadow: 2px 2px 2px 2px #646dee;
                        -webkit-text-fill-color: #646dee; 
                    }   

                    .btn-link-nav:active{
                        box-shadow: 0 0 0 0 #000000, inset 2px 2px 2px 2px #646dee;
                        transform: translate(3px 3px);   
                    }

                    .btn-Agendar-Consulta{
                        background-image: linear-gradient(#ffffff, #646dee);
                        display: inline-block;
                        width: 200px;
                        padding: 15px;
                        margin: 20px;
                        border: none;
                        border-radius: 20px 5px;
                        box-shadow: 0 0 0 0 #000000, inset 2px 2px 2px 2px #646dee;
                        transition: box-shadow 0.3s ease, transform 0.3s ease;
                        text-decoration: none;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 12px;
                        font-weight: bold;
                        text-align: center;
                        -webkit-text-fill-color: #082d3f;
                        text-shadow: 2px 2px 2px 2px #00000080;  
                    }
                    .btn-Agendar-Consulta:hover{
                        background-image: linear-gradient(#0e8ad1, #646dee);
                        box-shadow: 2px 2px 2px 2px #ffffff;
                        -webkit-text-fill-color: #ffffff;
                    }
                    .btn-Agendar-Consulta:active{
                        box-shadow: 0px 0px 0px 0px black, inset 2px 2px 2px 2px #ffffff;
                        transform: translate(3px 3px);   
                    }

                    .btn-Agendar-Consulta-Online{
                        background-image: linear-gradient(#ffffff, #646dee);
                        display: inline-block ;
                        align-items: center;
                        text-align: center;
                        width: 300px;
                        height: 30px;
                        padding: 20px;
                        margin: 20px;
                        border: none;
                        border-radius: 20px 5px;
                        box-shadow: 0 0 0 0 #000000, inset 2px 2px 2px 2px #646dee;
                        transition: box-shadow 0.3s ease, transform 0.3s ease;
                        text-decoration: none;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 20px;
                        font-weight: bold;
                        -webkit-text-fill-color: #082d3f;
                        text-shadow: 2px 2px 2px 2px #00000080;  
                    }
                    .btn-Agendar-Consulta-Online:hover{
                        background-image: linear-gradient(#0e8ad1, #646dee);
                        box-shadow: 2px 2px 2px 2px #ffffff;
                        -webkit-text-fill-color: #ffffff;
                    }
                    .btn-Agendar-Consulta-Online:active{
                        box-shadow: 0px 0px 0px 0px black, inset 2px 2px 2px 2px #ffffff;
                        transform: translate(3px 3px);   
                    }
                         
        footer{
            background-color: #082d3f;
            width: 1897px;
            text-align: center;
        }
            .rodape{
                display: inline-flex;
                flex-direction: row;
                justify-content: space-between;
                width: 600px;
                padding: 50px;
                font-size: 18px;
               -webkit-text-fill-color: #ffffff;
            }
            .link-github-Desenvolvedor{
                -webkit-text-fill-color: #ffffff;
                text-decoration: none;
            }