

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: content-box;
}
    body {
        display: flexbox;
        align-items: center;
        }

        header{
            background-color: #082d3f;
            display:inline-flex;
            flex-direction: row;
            align-items: center;
            width: 118.59rem;    /*1.897,44px */
        }
            .logo{
                width: 11.25rem; /*180px */
                margin: -1.875rem 1.25rem; /* -30px  20px */
            }

            header nav{
                margin-left: 28.125rem; /* 450px */
                align-items: center;
                
            }
                .btn-Menu{
                    display: none;
                }            

                    header nav ul li {
                        display: inline-flex;
                
                    }
                        .btn-link-nav{
                            background-image: linear-gradient(#0e8ad1, #646dee);
                            width: 10.625rem; /* 170px */
                            padding: .9375rem; /* 15px */
                            margin: .625rem; /* 10px */
                            border: none;
                            border-radius: 1.25rem .3125rem; /* 20px 5px */
                            text-decoration: none;
                            font-family: Arial, Helvetica, sans-serif;
                            font-size: .75rem; /* 12px */
                            font-weight: bold;
                            text-align: center;
                            text-shadow: .125rem .125rem .125rem .125rem #00000080; /*2px 2px 2px 2px*/
                            -webkit-text-fill-color: #ffffff;
                            box-shadow: 0rem 0rem 0rem 0rem #000000, inset .125rem .125rem .125rem .125rem #ffffff; /*2px 2px 2px 2px*/
                            transition: box-shadow 0.3s ease, transform 0.3s ease;
                        } 
                        .btn-link-nav:hover{
                            background-image: linear-gradient(#f1f1f1, #afafaf);
                            box-shadow: .125rem .125rem .125rem .125rem #646dee; /*2px 2px 2px 2px*/
                            -webkit-text-fill-color: #646dee; 
                        }   

                        .btn-link-nav:active{
                            box-shadow: 0rem 0rem 0rem 0rem #000000, inset .125rem .125rem .125rem .125rem #646dee; /*2px 2px 2px 2px*/
                            transform: translate(.1875rem .1875rem);   /*3px 3px*/
                        }

                        .btn-Agendar-Consulta{
                            background-image: linear-gradient(#ffffff, #646dee);
                            display: inline-block;
                            width: 12.5rem; /*200px*/
                            padding: .9375rem; /*15px*/
                            margin: 1.25rem; /*20px*/
                            border: none;
                            border-radius: 1.25rem .3125rem; /*20px 5px*/
                            box-shadow: 0rem 0rem 0rem 0rem #000000, inset .125rem .125rem .125rem .125rem #646dee; /*2px 2px 2px 2px*/
                            transition: box-shadow 0.3s ease, transform 0.3s ease;
                            text-decoration: none;
                            font-family: Arial, Helvetica, sans-serif;
                            font-size: .75rem; /*12px*/
                            font-weight: bold;
                            text-align: center;
                            -webkit-text-fill-color: #082d3f;
                            text-shadow: .125rem .125rem .125rem .125rem #00000080;  /*2px 2px 2px 2px*/
                        }
                        .btn-Agendar-Consulta:hover{
                            background-image: linear-gradient(#0e8ad1, #646dee);
                            box-shadow: .125rem .125rem .125rem .125rem #ffffff; /*2px 2px 2px 2px*/
                            -webkit-text-fill-color: #ffffff;
                        }
                        .btn-Agendar-Consulta:active{
                            box-shadow: 0rem 0rem 0rem 0rem black, inset .125rem .125rem .125rem .125rem #ffffff; /*2px 2px 2px 2px*/
                            transform: translate(.1875rem .1875rem);   /*3px 3px*/
                        }

                        .btn-Agendar-Consulta-Online{
                            background-image: linear-gradient(#ffffff, #646dee);
                            display: inline-block ;
                            align-items: center;
                            text-align: center;
                            width: 18.75rem; /*300px*/
                            height: 1.875rem; /*30px*/
                            padding: 1.25rem; /*20px*/
                            margin: 1.25rem; /*20px*/
                            border: none;
                            border-radius: 1.25rem .3125rem; /*20px 5px*/
                            box-shadow: 0rem 0rem 0rem 0rem #000000, inset .125rem .125rem .125rem .125rem #646dee; /*2px 2px 2px 2px*/
                            transition: box-shadow 0.3s ease, transform 0.3s ease;
                            text-decoration: none;
                            font-family: Arial, Helvetica, sans-serif;
                            font-size: 1.25rem; /*20px*/
                            font-weight: bold;
                            -webkit-text-fill-color: #082d3f;
                            text-shadow: .125rem .125rem .125rem .125rem #00000080;  /*2px 2px 2px 2px*/
                        }
                        .btn-Agendar-Consulta-Online:hover{
                            background-image: linear-gradient(#0e8ad1, #646dee);
                            box-shadow: .125rem .125rem .125rem .125rem #ffffff;    /*2px 2px 2px 2px*/
                            -webkit-text-fill-color: #ffffff;
                        }
                        .btn-Agendar-Consulta-Online:active{
                            box-shadow: 0rem 0rem 0rem 0rem black, inset .125rem .125rem .125rem .125rem #ffffff;   /*2px 2px 2px 2px*/
                            transform: translate(.1875rem .1875rem);   /*3px  3px*/
                        }
                         
        footer{
            background-color: #082d3f;
            width: 118.59rem;    /*1.897,44px */
            text-align: center;
        }
            .rodape{
                display: inline-flex;
                flex-direction: row;
                justify-content: space-between;
                width: 37.5rem; /*600px*/
                padding: 3.125rem; /*50px*/
                font-size: 18px; /*18px*/
               -webkit-text-fill-color: #ffffff;
            }
            .link-github-Desenvolvedor{
                -webkit-text-fill-color: #ffffff;
                text-decoration: none;
            }
 
            /*Mobile*/
    @media screen and (max-width:30rem) {

        header{
            width: 100%;
            align-items: flex-start;
        }
            header nav{
                display: block;
            }
                .btn-Menu{
                    display: flex;
                    margin-top: 2.8125rem; 
                    margin-left: -16.25rem;
                    background-image: url(imagens\ css/icon-btn-hamburguer.svg); 
                    width: 2.5rem;
                    height: 1.875rem; 
                    background-repeat: no-repeat;
                    background-size: 1.875rem;  background-position: .3125rem;
                    border: none;
                    border-radius: .3125rem;
                    text-shadow: 2px 2px 2px 2px #00000080;  /*.125rem .125rem .125rem .125rem*/
                    box-shadow: 0px 0px 0px 0px #000000, inset 2px 2px 2px 2px #ffffff; /*.125rem .125rem .125rem .125rem*/
                    transition: box-shadow 0.3s ease, transform 0.3s ease;          
                }
                .btn-Menu:active{
                    box-shadow: 0px 0px 0px 0px black, inset 2px 2px 2px 2px #646dee;   /*.125rem .125rem .125rem .125rem*/
                    transform: translate(3px 3px);   /*.1875rem  .1875rem*/
                }
                    .menu{
                        display: none;
                        position: relative;
                        top: 1.25rem;
                        right: 200%;
                        flex-direction: column;
                        align-items: center;
                    }
                    .nav.active .menu{
                        display: flex;
                    }
                         .btn-link-nav{
                            font-size: .625rem;
                            width: 9.375rem;
                        }
                        .btn-Agendar-Consulta{
                            margin: 1.875rem;
                        }
                        .btn-Agendar-Consulta-Online{
                            width: 12.5rem;
                            font-size: .75rem;
                        }
        footer{
            width:100%;
            display: flex;
            align-items: center;
        }
            .rodape{
                font-size: .9375rem;
                flex-direction: column;
                gap: 1.875rem;
            }
    }
    /*Extra Small Devices*/
    @media screen and (min-width: 30.0625rem) and (max-width: 47.9375rem) {
        header{
            width: 100%;
            align-items: flex-start;
        }
            header nav{
                display: block;
            }
                .btn-Menu{
                    display: flex;
                    margin-top: 2.8125rem; 
                    background-image: url(imagens\ css/icon-btn-hamburguer.svg); 
                    width: 2.5rem;
                    height: 1.875rem; 
                    background-repeat: no-repeat;
                    background-size: 1.875rem;  background-position: .3125rem;
                    border: none;
                    border-radius: .3125rem;
                    text-shadow: 2px 2px 2px 2px #00000080;  /*.125rem .125rem .125rem .125rem*/
                    box-shadow: 0px 0px 0px 0px #000000, inset 2px 2px 2px 2px #ffffff; /*.125rem .125rem .125rem .125rem*/
                    transition: box-shadow 0.3s ease, transform 0.3s ease;          
                }
                .btn-Menu:active{
                    box-shadow: 0px 0px 0px 0px black, inset 2px 2px 2px 2px #646dee;   /*.125rem .125rem .125rem .125rem*/
                    transform: translate(3px 3px);   /*.1875rem  .1875rem*/
                }
                    .menu{
                        display: none;
                        position: relative;
                        top: 1.25rem;
                        right: 150%;
                        flex-direction: column;
                        align-items: center;
                    }
                    .nav.active .menu{
                        display: flex;
                    }
                         .btn-link-nav{
                            font-size: .625rem;
                            width: 9.375rem;
                        }
                        .btn-Agendar-Consulta{
                            margin: 1.875rem;
                        }
                        .btn-Agendar-Consulta-Online{
                            width: 12.5rem;
                            font-size: .75rem;
                            align-items: center;
                        }
        footer{
            width:100%;
            display: flex;
            align-items: center;
        }
            .rodape{
                font-size: 15px;
                flex-direction: column;
                gap: 30px;
            }

    }
            /*Small Tablets*/
    @media screen and (min-width: 768px) and (max-width: 991px) {

        header{
            width: 100%;
            align-items: flex-start;
        }
            header nav{
                display: block;
            }
                .btn-Menu{
                    display: flex;
                    margin-top: 2.8125rem; 
                    margin-left: 12.5rem;
                    background-image: url(imagens\ css/icon-btn-hamburguer.svg); 
                    width: 2.5rem;
                    height: 1.875rem; 
                    background-repeat: no-repeat;
                    background-size: 1.875rem; 
                    background-position: .3125rem;
                    border: none;
                    border-radius: .3125rem;
                    text-shadow: .125rem .125rem .125rem .125rem #00000080;  /*2px 2px 2px 2px*/
                    box-shadow: 0rem 0rem 0rem 0rem #000000, inset .125rem .125rem .125rem .125rem #ffffff; /*2px 2px 2px 2px*/
                    transition: box-shadow 0.3s ease, transform 0.3s ease;          
                }
               .btn-Menu:active{
                box-shadow: 0px 0px 0px 0px black, inset 2px 2px 2px 2px #646dee;   /*.125rem .125rem .125rem .125rem*/
                 transform: translate(3px 3px);   /*.1875rem  .1875rem*/
               }
                    .menu{
                        display: none;
                        position: relative;
                        top: 1.25rem;
                        right: 100%;
                        flex-direction: column;
                        align-items: center;
                    }
                    .nav.active .menu{
                        display: flex;
                    }
                        .btn-link-nav{
                            font-size: .625rem;
                            width: 9.375rem;
                        }
                        .btn-Agendar-Consulta{
                            margin: 1.875rem;  
                        }
        footer{
            width: 100%;
        }
            .rodape{
                font-size: 1rem;
            }
    }

