@import url(headerAndFooter.css);

.Clinica-Multidisciplinar{
    display: flex;
    flex-direction: column;
    align-items: center;  
    background-image: url(imagens\ css/Clinica-Multidisciplinar.jpg);
    background-repeat: no-repeat;
    background-size: 118.75rem; /*1900px*/
    padding: 12.5rem; /*200px*/
    text-align: center;
    align-items: center;
    font-size: 3.125rem; /*50px*/
}
.sobre{
    display: flex;
    flex-direction: column;
   align-items: center;
   text-align: center;
    margin: 1.875rem 3.125rem; 
}



    /*Extra Small Devices */
@media screen and (min-width:481px) and (max-width:767px){

    .Clinica-Multidisciplinar{
        background-size: cover ;
        padding: 100px;
    }
        .titulo-clinica{
            font-size:3.125rem;
            text-align: center;
        }
        .btn-Agendar-Consulta-Online{
            display: flex;
            flex-direction: row;
            text-align: center;
            width: 12.5rem;
        }
       
    .sobre{
        font-size: 1.25rem; 
        margin: 1.875rem 3.125rem; 
    }
}
        